form {
  margin-top: 2.75rem;
}
.new-item {
  gap: 1rem;
}
input,
textarea,
select {
  appearance: none;
  width: 100%;
  border-radius: 0.75rem;
  border: 2px solid var(--border-primary);
  padding: 0.688rem 1.125rem;
  font: 400 1rem/140% var(--ff);
  color: var(--content-tertiary);
  background: var(--bg-secondary);
  outline: none;
}
input:hover,
textarea:hover,
select:hover {
  border: 2px solid var(--border-hover);
}
input:focus,
textarea:focus,
select:focus {
  border-color: #ca3884;
  color: var(--content-primary);
}
button {
  width: 100%;
  border-radius: 0.75rem;
  border: none;
  padding: 0.8rem 1.5rem;
  background-color: var(--color-brand);
  font: var(--label);
  color: var(--always-white);
  cursor: pointer;
}
button:hover {
  background-color: var(--color-brand-hover);
}
@media (width <= 64rem) {
  .new-item {
    flex-direction: column;
  }
}